body{
    background-color: rgb(246, 248, 249);
}
header{
    width: auto;
    background-color: white;
}

.logo{
    width: 100px;
    height: 100px;
    padding-left: 20px;
}
.text-logo{
    font-size: 4rem;
    color: black;
}

/*NAV*/

nav{
    background-color: white;
    width: 65%;
    height: 60px;
    margin: auto;
    padding-left: 100px;
    padding-top: 20px;
    border-radius: 10px;
}

.add-task{
    background-color: rgb(71, 173, 241);
    border-radius: 10px;
    color: white;
    border-color: rgb(71, 173, 241);
    width: 120px;
    height: 40px;
    margin: auto;
}
.add-section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(209, 213, 217);
    border-color: rgb(255, 255, 255) ;
    width: 150px;
    height: 40px;
}
/*END NAV*/


/*MAIN*/
main{
    background-color: white;
    width: 70%;
    height: 1000px;
    margin: auto;
    border-radius: 10px; 
}

.position-one, .position-two, .position-three {
    padding-left: 100px;
    font-size: 1.2rem;
}
    
.editorial{
    background-color: rgb(71, 173, 241);
    border-radius: 20px;
    color: white;
    border-color: rgb(71, 173, 241);
    width: 120px;
    height: 40px;
}
.Q1-Goals{
    background-color: rgb(204, 81, 153);
    border-radius: 20px;
    color: white;
    border-color: #ffff;
    width: 120px;
    height: 40px;
}
.recruiting{
    background-color: rgb(33, 105, 84);
    border-radius: 20px;
    color: white;
    border-color: rgb(33, 105, 84);
    width: 120px;
    height: 40px;
}
.mobile{
    background-color: rgb(197, 114, 19);
    border-radius: 20px;
    color: white;
    border-color: rgb(197, 114, 19);
    width: 120px;
    height: 40px;
}
.website{
    background-color: rgb(230, 61, 154);
    border-radius: 20px;
    color: white;
    border-color: rgb(230, 61, 154);
    width: 120px;
    height: 40px;
}
.sales{
    background-color: rgb(80, 209, 80);
    border-radius: 20px;
    color: white;
    border-color: rgb(80, 209, 80);
    width: 120px;
    height: 40px;
}
/*END MAIN*/